*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #ffffff;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}

/*居中的容器*/
.w{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
/*页面里的a标签的颜色以及样式*/
a{
	color: #333;
	text-decoration: none;
}
/*左右浮动，恢复父容器塌陷高度*/
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}

/*top*/
.top{
	min-width: 1200px;
     height: 38px;
     background-color: #e3effd;
     font-size: 12px;
}
.top .nav{
	line-height: 38px;
}
.top .nav li{
	list-style: none;
	float: left;
	padding: 0px 11px;
	position: relative;
}
.top .nav li:hover{
	background-color: gainsboro;
}
.top .nav li:hover span:before{
	content: "\f106";
}
.top .nav li:hover .sub-nav{
	display: block;
	z-index: 99;
	width: 100px;
}
.top .nav li span{
	color: #dd2c40;
	display: inline-block;
	padding: 0px 5px;
}
/*二级菜单*/
.top .sub-nav{
	width: 90px;
	position: absolute;
	top: 38px;
	left: 0px;
	background-color: gainsboro;
	display: none;
	text-align: center;
}
.top .sub-nav li{
	float: none;
}
.top .sub-nav li:hover{
	background-color: #e3effd;
}
.top .sub-nav li:hover a{
	color: #dd2c40;
}
/*wechat*/
.top .wechat{
	line-height: 38px;
	
}
.top .wechat li{
	list-style: none;
	height: 38px;
	position: relative;
	padding-top: 9px;
	box-sizing: border-box;
}
.top .wechat li:hover{
	background-color:#e3effd ;
}
.top .wechat li:hover .code{
	display: block;
}
.top .wechat li .code{
	position: absolute;
	top: 38px;
	right: 0px;
	display: none;
	width: 110px;
	height: 110px;
}
.top .wechat li .code img{
	width: inherit;
	height:inherit;
}
/*feifanlogo*/
.header{
	/*min-width: 1200px;*/
	height: 114px;
	background-color: yellowgreen;
	padding: 22px 0px;
	box-sizing: border-box;
}
.header .logo{
	height: 70px;
}
.header .logo img{
	height: 70px;
}
.header .slogan{
	line-height: 70px;
	margin-left: 30px;
	font-size: 16px;
}
.header .schoolphone{
	height: 70px;
	line-height: 70px;
}
.header .schoolphone ul{}
.header .schoolphone ul li{
	list-style: none;
	float: left;
	margin-right: 35px;
	font-size: 16px;
}
.header .schoolphone ul li span{
	margin-right: 10px;
	font-size: 30px;
	color: #f6c374;
}
.header .schoolphone ul li:last-child{
	margin-right: 0px;
	font-size: 18px;
}
.header .schoolphone ul li:last-child span{
	color: #e22829;
}
/*banner*/

.banner{
	width: 1200px;
	height: 350px;
	background-color: goldenrod;
	position: relative;
}

.banner .images-lunbo li{
	display: none;
	height: 350px;
	list-style: none;
	position: absolute;
}
.banner .images-lunbo li img{
	width: 1200px;
	height: 350px;
}
.banner .images-lunbo li:first-child{
	display: block;
}
.banner .images-lunbo li img {
	height: 350px;
}	
.banner .points{
	position: absolute;
	bottom: 20px;
	left: 50%;
}
.banner .points li{
	float: left;
	width: 12px;
	height: 12px;
	margin: 0px 6px;
	border: 1px solid white;
	list-style: none;
	border-radius: 50%;
}	
.banner .points li.active{
	background-color: #da2b28;
	border: 1px solid #da2b28;
}	
/*课程导航*/
.lesson{
	height: 456px;
	/*background-color: greenyellow;*/
	position: relative;
	margin-top: 48px;
}
.lesson .nav-lesson{
	width: 220px;
	height: inherit;
	/*background-color: royalblue;*/
	position: absolute;
	top: 0px;
	left: 0px;
}
.lesson .news{
	
	height: inherit;
	background-color: wheat;
	padding-left:240px;
	padding-right: 228px;
}
.lesson .hotlesson{
	width: 200px;
	height: inherit;
	/*background-color: greenyellow;*/
	position: absolute;
	top: 0px;
	right: 0px;
}
/*课程导航左侧nav-lesson*/
.lesson .nav-lesson li{
	height: 41px;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	box-sizing: border-box;
	line-height: 41px;
	list-style: none;
}
.lesson .nav-lesson li:first-child{
	border-left:none;
	border-right:none;
	background-color: #dd2726;
	color: #FFFFFF;
}
.lesson .nav-lesson li:first-child{
	font-size: 16px;
}
.lesson .nav-lesson li:first-child span{
	margin: 0px 18px;
	font-size: 12px;
}
.lesson .nav-lesson li p{
	display: inline-block;
	position: absolute;
}
/*.lesson .nav-lesson li:not(:first-child).hover {
	background-color: gainsboro;
}*/
.lesson .nav-lesson li:not(:first-child):hover{
	background-color: gainsboro;
	
}

.lesson .nav-lesson li p.f1{
	font-size: 14px;
	color: #392934;
	left: 20px;
}
.lesson .nav-lesson li p.f2{
	font-size: 12px;
	color: #9b9a96;
	left: 110px;
}
.lesson .nav-lesson li p.f2:hover{
	color: #dd2726;
}
.lesson .nav-lesson li p.f3{
	font-size: 12px;
	color: #9b9a96;
	left: 156px;
}
.lesson .nav-lesson li p.f3:hover{
	color: #dd2726;
}
.lesson .nav-lesson li .nav-goodlist{
	width: 622px;
	height: 409px;
	border: 1px solid #ddd;
	position: absolute;
	left: 220px;
	top: 41px;
	box-sizing: border-box;
	padding-top: 20px;
	background-color: #fff;
	z-index: 99;
	display: none;
}
.lesson .nav-lesson li:hover .nav-goodlist{
	display: block;
	z-index: 99;
}
.lesson .nav-lesson li .nav-goodlist li{
	list-style: none;
	width: 290px;
	height: 62px;
	padding-left: 20px;
	box-sizing: border-box;
	float: left;
	margin-left: 20px;
	font-size: 14px;
}
.lesson .nav-lesson li .nav-goodlist li:hover{
	background-color: white;
}
.lesson .nav-lesson li .nav-goodlist li:hover a{
	color:#dd2c40 ;
}
/*news*/
.lesson .news .news-top{
	width: inherit;
	height: 45px;
	/*background-color: cyan;*/
	font-size: 16px;
	line-height: 45px;
	border-bottom: 2px solid #d8d8d8;
}
.lesson .news .news-top li{
	list-style: none;
	float: left;
	padding: 0px 18px;
	margin-right: 78px;
}
.lesson .news .news-top li:hover{
	color: #dd1d28;
	border-bottom: 2px solid #db2728;
}
.lesson .news .news-top li:hover a{
	color:#db2728 ;
}
.lesson .news .news-top li:hover .news-content{
	display: block;
}
.lesson .news .news-top li .news-content{
	width: 732px;
	height: 405px;
	/*background-color: #008000;*/
	position: absolute;
	top: 45px;
	left: 240px;
	padding: 16px 0px;
	box-sizing: border-box;
	display: none;
}
.lesson .news .news-top li .news-content .rows{
	width: 732px;
	height: 66px;
	margin-bottom: 40px;
	/*background-color: palegreen;*/
}
.lesson .news .news-top li .news-content .rows:last-child{
	margin-bottom: 0px;
}
.lesson .news .news-top li .news-content .rows .info{
	width: 340px;
	height: 66px;
}
.lesson .news .news-top li .news-content .rows .imagess{
	width: 50px;
	height: inherit;
	position: relative;
}
.lesson .news .news-top li .news-content img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.lesson .news .news-top li .news-content .rows .imagess p{
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	top: 50px;
	left: 10px;
	color: #333333;
}
.lesson .news .news-top li .news-content .rows .info .information{
	width: 290px;
	height: inherit;
	/*background-color: red;*/
	padding-left: 20px;
	box-sizing: border-box;
}
.lesson .news .news-top li .news-content .rows .info .information span{
	display: block;
	font-size: 14px;
	line-height: 1.5em;
	color: #1f313d;
}
.lesson .news .news-top li .news-content .rows .info .information span:hover{
	color: #dd2726;
}
.lesson .news .news-top li .news-content .rows .info .information p{
	font-size: 12px;
	line-height: 2em;
	color: #b0afad;
}
/*.lesson .news .news-top li .news-content .rows .info .information p:hover{
	color: #f6c374;
}*/
/*右侧hotlesson*/
.lesson .hotlesson p{
	font-size: 16px;
	line-height: 45px;
	text-align: center;
}
.lesson .hotlesson .kex{
	width: 200px;
	height: 130px;
	margin-bottom: 10px;
	position: relative;
}
.lesson .hotlesson .kex:last-child{
	margin-bottom: 0px;
}
.lesson .hotlesson .kex img{
	width: 200px;
	height: 130px;
}
.lesson .hotlesson .kex .kex1{
	width: inherit;
	height: 30px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	bottom: 0px;
	z-index: 99;
	
	padding-left: 12px;
	padding-top: 5px;
	box-sizing: border-box;
	
}
.lesson .hotlesson .kex .kex1 a{
	color: #fff;
	font-size: 12px;
}
.lesson .hotlesson .kex .kex1 p{
	text-align: left;
	line-height: 1.5em;
	display: none;
}
.lesson .hotlesson .kex .kex1 p a{
	color: gainsboro;
}
/*新开班newclass*/
.newclass{
	height: 612px;
	background-color: greenyellow;
	padding-top: 36px;
	box-sizing: border-box;
}
.newclass .latestclass{
	width: inherit;
	height: 48px;
	background-color: goldenrod;
	line-height: 48px;
	position: relative;
	border-bottom: 1px solid #e1e1e1;
}
.newclass .latestclass h3{
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 20px;
	padding-left: 5px;
	line-height: 48px;
}
.newclass .latestclass ul{
	display: inline-block;
	position: absolute;
	left: 250px;
	font-size: 14px;
}
.newclass .latestclass ul li{
	float: left;
	list-style: none;
	padding: 0px 16px;
}
.newclass .latestclass ul li:last-child{
	margin-right: 0px;
}
.newclass .latestclass .liner{
	width: 100px;
	height: 2px;
	background-color: #db272a;
	position: absolute;
	left: 235px;
	bottom: -1px;
}
/*中间图片box*/
.newclass .classpic{
	height: 300px;
	width: inherit;
	background-color: palevioletred;
	
}
.newclass .classpic ul{
	height: 300px;
	width: inherit;
	background-color: #0000FF;
	display: none;
}
.newclass .classpic ul:first-child{
	display: block;
}
.newclass .classpic ul li{
	float: left;
	width: 298px;
	height: 300px;
	margin-right: 2.5px;
	/*background-color: yellow;*/
	list-style: none;
	position: relative;
}
.newclass .classpic ul li:last-child{
	float: right;
	margin-right: 0px;
}
.newclass .classpic li .n1{
	width: 298px;
	height: 274px;
	/*background-color: blue;*/
	position: absolute;
	top: 12px;
	padding: 14px;
	box-sizing: border-box;
	
}
.newclass .classpic li .n1:hover{
	border: 1px solid gainsboro;
}
.newclass .classpic li .n1 img{
	width: 270px;
	height: 180px;
}
.newclass .classpic li .n1 .nf1{
	font-size: 16px;
	color: #333;
}
.newclass .classpic li .n1 .nf2{
	position: absolute;
	left: 14px;
	bottom: 14px;
	font-size: 12px;
	color: #929292;
}
.newclass .classpic li .n1 .nf3{
	position: absolute;
	right: 14px;
	bottom: 14px;
	font-size: 12px;
	color: #929292;
}
.newclass .classpic li .n1 .nf3 a:hover{
	color: yellowgreen;
}
/*开班课程列表*/
.newclass .class-table{
	height: 227px;
	background-color: royalblue;
	
}
.newclass .class-table .newinfo{
	height: 185px;
	background-color: gold;
	position: relative;
}
.newclass .class-table .newinfo table{
	width: 576px;
	height: 185px;
	position: absolute;
	text-align: center;
}
.newclass .class-table .newinfo table.c1{
	left: 8px;
}
.newclass .class-table .newinfo table.c2{
	left: 618px;
}
.newclass .class-table .newinfo table tr:first-child
{
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	/*border-bottom: 1px solid #dedede;*/
}
.newclass .class-table .newinfo table tr{
	font-size: 12px;
	line-height: 30px;
}
.newclass .class-table .newinfo table tr td:first-child{
	text-align: left;
}
.newclass .class-table .newinfo table td span{
	color: #52bbf5;
}
.newclass .class-table .newinfo table td.oldprice{
	text-decoration: line-through;
}
.newclass .class-table .newinfo table td.price{
	color: #d83047;
}
/*已报名学生滚动条*/
.newclass .class-table .newregister{
	width: inherit;
	height: 42px;
	background-color: yellowgreen;
	position: relative;
	font-size: 14px;
	border-bottom: 1px solid gray;
	box-sizing: border-box;
	overflow: hidden;
}
.newclass .class-table .newregister .todayr{
	width: 106px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid #d83047;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99;
}
.newclass .class-table .newregister .todayr span.fa{
	color:#d83047 ;
	font-size: 22px;
	margin: 0px 4px;
}
.newclass .class-table .newregister ul{
	position: absolute;
	left: 0px;
	line-height: 42px;
	width: 20000px;
	
}
.newclass .class-table .newregister li{
	float: left;
	list-style: none;
	margin: 0px 15px;
	color: #cd2a21;
}
.newclass .class-table .newregister li span{
	color: #333;
	display: inline-block;
	padding: 0px 5px;
}
/*师资力量*/
.teacher{
	height: 350px;
	background-color: palegreen;
	padding-top: 42px;
	box-sizing: border-box;
}
.teacher .teacherpower{
	height: 64px;
	line-height: 64px;
	background-color: #0000FF;
	font-size: 16px;
	
}
.teacher .teacherpower p.left{
	margin-left: 4px;
}
.teacher .teacherpower .change span{
	margin: 0px 5px;
}
.teacher .teacherpower .change span.fa-caret-left , .change span.fa-caret-right{
	color:orangered;
}
.teacher .teacherpower .change span.fa-arrow-circle-o-right{
	color: darkgray;
}
.teacher .teacherpower .change span a:hover{
	color:#cd2a21 ;
}

/*教师图片*/
.teacher .teacherpic{
	height: 244px;
	background-color: yellowgreen;

}
.teacher .teacherpic ul{
	display: none;
}
.teacher .teacherpic ul:first-child{
	display: block;
}
.teacher .teacherpic ul li{
	list-style: none;
	float: left;
	width: 270px;
	height: 240px;
	margin-right: 40px;
	background-color: yellow;
	position: relative;
	/*overflow: hidden;*/
	
}
.teacher .teacherpic ul li:last-child{
	margin-right: 0px;
}
.teacher .teacherpic ul li .mask {
	width: 270px;
	height: 180px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.6);
	padding: 40px 10px;
	color: white;
	line-height: 1.5em;
	box-sizing: border-box;
	display: none;
}
.teacher .teacherpic ul li .modify{
	width: 270px;
	height: 180px;
	overflow: hidden;
}
.teacher .teacherpic ul li .modify img{
	width: 270px;
	height: 380px;
}
.teacher .teacherpic ul li p.t1{
	font-size: 14px;
	color: #333;
	position: absolute;
	bottom: 30px;
}
.teacher .teacherpic ul li p.t2{
	font-size: 12px;
	color: #9a9a9a;
	position: absolute;
	bottom: 0px;
}
.teacher .teacherpic ul li span{
	font-size: 20px;
	color: orangered;
	position: absolute;
	right: 0px;
	bottom: 0px;
}



/*学员作品*/
.students{
	height: 394px;
	background-color: gray;
	padding-top: 60px;
	box-sizing: border-box;
}
.students .products{
	height: 36px;
	background-color: blue;
	line-height: 36px;
	position: relative;
	border-bottom: 1px solid grey;
	box-sizing: border-box;
}
.students .products p{
	margin-left: 4px;
	font-size: 16px;
}
.students .products ul {
	position: relative;
	left: 312px;
}
.students .products ul li{
	list-style: none;
	float: left;
	padding: 0px 18px;
}
.students .products ul li a{
	font-size: 14px;
	color: #545454;
}
.students .productshow{
	height: 298px;
	background-color: yellowgreen;
	padding-top: 30px;
	box-sizing: border-box;
}
.students .productshow ul {
	display: none;
}
.students .productshow ul:first-child {
	display: block;
}
.students .productshow ul li{
	list-style: none;
	float: left;
	width: 270px;
	height: 268px;
	margin-right: 40px;
	background-color: red;
	padding: 8px;
	box-sizing: border-box;
	position: relative;
}
.students .productshow ul li:last-child{
	margin-right: 0px;
}
.students .productshow ul li img{
	width: 254px;
	height: 180px;
}
.students .productshow ul li p.p1{
	font-size: 14px;
	color: #333;
	position: absolute;
	bottom: 30px;
}
.students .productshow ul li p.p2{
	font-size: 12px;
	color: #9a9a9a;
	position: absolute;
	bottom: 5px;
}
.students .productshow ul li span{
	font-size: 12px;
	color: #9a9a9a;
	position: absolute;
	right: 0px;
	bottom: 5px;
}